@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
    height: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: -1;
}

@media (max-width: 768px) {
    body {
        padding: 12px;
    }
}
