body{

    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    user-select: none;
}
.container{
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-container{

    width: 321px;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    border: 2px solid black;
    background-color: #000000d7;
    color: white;
    padding: 30px;
    border-radius: 30px;


}

.display {
    grid-column: span 4;
    padding: 10px;
    padding-bottom: 30px;
    background-color: hsla(0, 0%, 50%, 0.34);
    font-size: 4rem;
    text-align: right;
    margin-bottom: 10px;
    font-family: monospace;

    max-width: 100%;
    height: 50px;

    overflow-y: hidden;
    white-space: nowrap;
    
    unicode-bidi: plaintext;

    scrollbar-width: thin;
    scrollbar-color: orange #222;
    direction: rtl;
}


.display::-webkit-scrollbar {
    height: 8px;
}

.display::-webkit-scrollbar-track {
    background: #222; 
    border-radius: 4px;
}

.display::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 4px;
}

.display::-webkit-scrollbar-thumb:hover {
    background: #ff9900;
}



.operands{
    background-color: rgb(127, 168, 255);
}

.operators{
    background-color: orange;
}

.keys{
    padding: 10px;
    font-size: 3rem;
    text-align: center;
    border-radius: 50%;
    border: none;
    font-family: monospace;
}

.keys:hover{
    filter: brightness(110%);
}

.keys:active{
    filter: brightness(120%);
}